.headeris {
background-color: salmon;
width: 800%;
}

.menu {
background-color: antiquewhite;
}

.container main {
background-color: palevioletred;
}

.left-column {
background-color: aqua;
}

.containerfooter {
background-color: rebeccapurple;
}